In [1]:
age = 22
print(age)

22

In [2]:
age =23
print(age)

23

In [3]:
print(age/2)

11.5

In [4]:
age = age +1

In [5]:
print(age)

24

In [6]:
restaurantBill = 36.17
serviceCharge = 0.125
tip = restaurantBill*serviceCharge
print(tip)

4.52125

In [7]:
import pandas as pd

data = pd.read_csv('lsd_math_score_data.csv')

In [8]:

data.head(7)

   Time_Delay_in_Minutes  LSD_ppm  Avg_Math_Test_Score
0                      5     1.17                78.93
1                     15     2.97                58.20
2                     30     3.26                67.47
3                     60     4.69                37.47
4                    120     5.83                45.65
5                    240     6.00                32.92
6                    480     6.41                29.97

In [9]:
type(data)

pandas.core.frame.DataFrame

In [10]:
data['LSD_ppm']

0    1.17
1    2.97
2    3.26
3    4.69
4    5.83
5    6.00
6    6.41
Name: LSD_ppm, dtype: float64

In [11]:
data['test'] = 'test'

In [12]:
data.head()

   Time_Delay_in_Minutes  LSD_ppm  Avg_Math_Test_Score  test
0                      5     1.17                78.93  test
1                     15     2.97                58.20  test
2                     30     3.26                67.47  test
3                     60     4.69                37.47  test
4                    120     5.83                45.65  test

In [13]:
data['Highscore'] = 100
print(data)

   Time_Delay_in_Minutes  LSD_ppm  Avg_Math_Test_Score  test  Highscore
0                      5     1.17                78.93  test        100
1                     15     2.97                58.20  test        100
2                     30     3.26                67.47  test        100
3                     60     4.69                37.47  test        100
4                    120     5.83                45.65  test        100
5                    240     6.00                32.92  test        100
6                    480     6.41                29.97  test        100

In [14]:
data['Highscore']=data['Avg_Math_Test_Score'] + data['Highscore']

In [15]:
print(data)

   Time_Delay_in_Minutes  LSD_ppm  Avg_Math_Test_Score  test  Highscore
0                      5     1.17                78.93  test     178.93
1                     15     2.97                58.20  test     158.20
2                     30     3.26                67.47  test     167.47
3                     60     4.69                37.47  test     137.47
4                    120     5.83                45.65  test     145.65
5                    240     6.00                32.92  test     132.92
6                    480     6.41                29.97  test     129.97

In [16]:
data['Highscore']=data['Highscore']*data['Highscore']

In [17]:
print(data)

   Time_Delay_in_Minutes  LSD_ppm  Avg_Math_Test_Score  test   Highscore
0                      5     1.17                78.93  test  32015.9449
1                     15     2.97                58.20  test  25027.2400
2                     30     3.26                67.47  test  28046.2009
3                     60     4.69                37.47  test  18898.0009
4                    120     5.83                45.65  test  21213.9225
5                    240     6.00                32.92  test  17667.7264
6                    480     6.41                29.97  test  16892.2009

In [18]:
columnList = ['LSD_ppm', 'Avg_Math_Test_Score']

clean_data = data[columnList]

In [19]:
y = data[['Avg_Math_Test_Score']]

In [20]:
X = data[['LSD_ppm']]

In [21]:
del data['test']
print(data)

   Time_Delay_in_Minutes  LSD_ppm  Avg_Math_Test_Score   Highscore
0                      5     1.17                78.93  32015.9449
1                     15     2.97                58.20  25027.2400
2                     30     3.26                67.47  28046.2009
3                     60     4.69                37.47  18898.0009
4                    120     5.83                45.65  21213.9225
5                    240     6.00                32.92  17667.7264
6                    480     6.41                29.97  16892.2009

In [22]:
del data['Highscore']

In [23]:
print(data)

   Time_Delay_in_Minutes  LSD_ppm  Avg_Math_Test_Score
0                      5     1.17                78.93
1                     15     2.97                58.20
2                     30     3.26                67.47
3                     60     4.69                37.47
4                    120     5.83                45.65
5                    240     6.00                32.92
6                    480     6.41                29.97

In [24]:
import life

type(life)

module

In [25]:
life.the_answer

42

In [26]:
import math

print(math.pi)
print(math.e)

3.141592653589793
2.718281828459045

In [27]:
type(math.pi)

float

In [28]:
from life import quote_marvin
quote_marvin()

I've calculated your chance of survival, but I don't think you'll like it